Source: a38
Section: python
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends: debhelper (>= 9), dh-python,
               python3-all,
               python3-dateutil, python3-tz, python3-asn1crypto, python3-lxml
Standards-Version: 4.2.0

Package: python3-a38
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
         python3-dateutil, python3-tz, python3-asn1crypto,
Recommends: ${python3:Recommends}, python3-yapf, python3-lxml, wkhtmltopdf
Suggests: ${python3:Suggests}
Description: parse and generate Italian Fattura Elettronica
 This library implements a declarative data model similar to Django models,
 that is designed to describe, validate, serialize and parse Italian Fattura
 Elettronica data.
 .
 Only part of the specification is implemented, with more added as needs will
 arise. Anyone is welcome to implement the missing pieces they need and send a
 pull request: the idea is to have a good, free (as in freedom) library to make
 billing in Italy with Python easier for everyone.
 .
 The library can generate various kinds of fatture that pass validation, and
 can parse all the example XML files distributed by fatturapa.gov.it
